<div class='stars'></div>

<form class="login2">
  <span>What's your secret key?</span>
  <input type="text" placeholder="Please enter your secret key!"/>
  <input type="submit" value="➡" />
</form>


<div class="start-desktop">
  <div class="cirkels-desktop">
    <div class="info">
      <p>
        <strong>Please go to</strong></br>
        <span class="link">pure-fortress-9627.herokuapp.com</span></br>
        <strong>with your mobile phone</strong>
      </p>
    </div>
  </div>
</div>

<!-- <div id="countdown">6</div>
 -->
