
<!--
<form class="login2">
  <span>What's your secret key?</span>
  <input type="text" placeholder="Please enter your secret key!"/>
  <input type="submit" value="➡" />
</form> -->
<!--
<div class="stars"></div>
<div class="stars2"></div>
<div class="stars3"></div> -->
<div class="background">&nbsp;</div>

<div class="bbackground" id="backgroundBalls1">
  <div class="bubble-wrap">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
</div>


<div class="bbackground2" id="backgroundBalls2">
  <div class="bubble-wrap2">
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
  <div class="bubble2"></div>
</div>
</div>
<div id="startinfo"></div>

<div class="start-desktop" id="startdeskt">

    <div class="info">
      <p>
        <strong>Go with your smartphone to</strong></br>
        <span class="link">hamsters.herokuapp.com</span></br>
        <strong>with the following code:</strong>
      </p>
    </div>

    <div class="codehere">
      <p id="putcodehere"></p>
    </div>
    <div class="cirkels-desktop">&nbsp;</div>

</div>


<!-- GAMEOVER -->
<div class="restart">

  <div class="error-restartgame" id="errorinfo">
    <p>You missed your gate, damn..</br>
       Click restart to play again
    </p>
  </div>


  <div class="game-over" id="gameover">
    <form class="restart">
       <input type="submit"  value="restart game"/>
    </form>
  </div>
</div>

<div id="footer" class="footer"></div>

<!-- <div id="countdown">6</div>
 -->

