<form class="login" id="loginmobile">
  <span>Fill in the code you see on your desktop.</span>
  <input type="text" placeholder="CODE" class="codeloginmobile" id="codeloginmobile" maxlength="3" autocapitalize="none" />
  <input type="submit" value="Start Game" />
  <div class="backgrounnd"></div>
</form>


<div class="allButtonsController" id="allbuttons" >
 <span>Sing to your laptop to move your character.</span>

  <form class="downhill">
     <input type="submit"  value="Downhill fast" />
  </form>



  <form class="disturb">
     <input type="submit"  value="Disturb" />
  </form>



  <form class="flipview">
     <input type="submit"  value="Change View" id="changeView" />
  </form>


  <form class="blackout">
     <input type="submit"  value="Blackout" />
  </form>

  <div class="backgrounnd"></div>
</div>
