<form class="login" id="loginmobile">
  <span>Fill in the code you see on your desktop.</span>
  <input type="text" placeholder="CODE" class="codeloginmobile" maxlength="3" autocapitalize="none" />
  <input type="submit" value="Start Game" />
  <div class="backgrounnd"></div>
</form>


<div class="allButtonsController" id="allbuttons" >
 <span>Sing to your laptop to move your character.</span>

  <form class="downhill">
     <input type="submit"  value="Downhill fast" />
  </form>



  <form class="disturb">
     <input type="submit"  value="Disturb" />
  </form>



  <form class="flipview">
     <input type="submit"  value="Change View" id="changeView" />
  </form>




  <form class="shuffle">
     <input type="submit"  value="Shuffle" />
  </form>

  <div class="backgrounnd"></div>
</div>


<!-- GAMEOVER -->
<div class="error-restartgame">
  <p>You missed the gate!</br>
     Click restart to play again
  </p>
</div>

<div class="game-over" id="gameover">
  <form class="restart">
     <input type="submit"  value="restart game"/>
  </form>
</div>
